.Slider-wrapper {
  margin-top: 10px;
  height: 0.4em;
  z-index: 1;
}

input[type=range] {
  vertical-align: top;
}


/* Screen */
@media screen and (max-width: 960px) {
  input[type=range] {
    max-width: 120px;
  }
}

@media screen and (max-width: 480px) {
  input[type=range] {
    max-width: 80px;
  }
}
