.Slider-wrapper {
  margin-top: 10px;
  height: 0.4em;
}
 
input[type=range] {
  width: 80%;
  font-size: 0.2em;
}

// Mozzila
input[type=range]::-moz-range-track {

}
input[type=range]::-moz-range-thumb {

}
input[type=range]:-moz-focusring{

}
input[type=range]:focus::-moz-range-track {

}
