@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative);

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Site-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 20px;
  font-size: 3em;
  font-family: 'Cinzel Decorative', cursive;
}

#App-video {
  position: fixed;
  top: 50%; left: 50%;
  height: 140%;
  width: auto;
  transform: translate(-50%, -50%);
}

.table-responsive {
  max-width: 1200px;
  font-size: 3.5em;
  z-index: 1;
  bottom: 0;
  position: absolute;
}

.table {

}

.Icon {
  color: #fff;
  position: relative;
  z-index: 1;
}
