@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative);

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.Site-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 20px;
  font-size: 3em;
  font-family: 'Cinzel Decorative', cursive;
}

#App-video {
  position: fixed;
  top: 50%; left: 50%;
  height: 140%;
  width: auto;
  transform: translate(-50%, -50%);
}
