@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative);
@import '~bootstrap/scss/bootstrap.scss';

// App
.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Site-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 20px;
  font-size: 3em;
  font-family: 'Cinzel Decorative', cursive;
}

#App-video {
  position: fixed;
  top: 50%; left: 50%;
  height: 140%;
  width: auto;
  transform: translate(-50%, -50%);
}

// Table
.Table-responsive {
  @extend .table-responsive;
  text-align: center;
  max-width: 1200px;
  font-size: 5.5em;
  bottom: 0;
  position: absolute;
}

.Table {
  @extend .table;
}

.Icon {
  color: #fff;
  position: relative;
  z-index: 1;
}

// Audio
.Audio-icon:hover {
  cursor: pointer;
}

.Clicked {
  color: #fff;
}

.Unclicked {
  color: rgba(168, 168, 168, 0.7)
}

/* Screen */
@media screen and (max-width: 960px) {
  .Table-responsive {
    font-size: 3.6em;
  }
  .Site-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .Table-responsive {
    font-size: 3em;
  }
  .Site-title {
    font-size: 1.2em;
  }
}
