@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative);

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.Site-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  font-size: 3em;
  font-family: 'Cinzel Decorative', cursive;
}
